[Unit]
Description=Notification script for low battery
StartLimitIntervalSec=0
Wants=upower.service

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/brayden-marshall/scripts/systemd_units/battery_notification.py

[Install]
WantedBy=default.target
